<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <a href="https://github.com/mmacneil/devfolio" target="_blank" aria-label="Github" class="icon has-text-primary">
        <i class="fab fa-github" aria-hidden="true"></i> <strong>devfolio</strong></a
      >
    </p>
  </div>
</footer>
