<div class="tile is-parent">
  <article class="tile is-child notification">
    <p class="title">{{ project.data.title }}</p>
    <figure class="image is-3by2">
      <img class="modal-trigger" data-target="project-{{ project.data.id }}-modal" src="./{{ project.data.cover }}" />
    </figure>
  </article>
</div>
