<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>devfolio</title>
    <meta name="description" content="Devfolio portfolio website" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://mmacneil.github.io/devfolio/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="style.min.css" />
    <script src="https://kit.fontawesome.com/4e5a72c756.js" defer></script>
  </head>

  <body>
    @include("partials/navbar")

    <main>
      <!-- -->
      @include("partials/hero")

      <!-- -->
      @include("partials/about")

      <!-- -->
      @include("partials/experience")

      <section class="section">
        <div class="container">
          <h1 class="title">Projects</h1>
          <hr />
          <div class="tile is-ancestor">
            <div class="tile is-vertical is-12">
              <div class="tile">
                <!-- -->
                @each(project in projects)
                <!-- -->
                @include("partials/project")
                <!-- -->
                @include("partials/modal")
                <!-- -->
                @end
              </div>
            </div>
          </div>
        </div>
      </section>

      @include("partials/education")
      <!---->

      @include("partials/contact")
      <!-- -->

      @include("partials/footer")
    </main>

    <script src="./bundle.js"></script>
  </body>
</html>
